{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - DefaultController{% endblock %}

 {% block stylesheets %}
     {{ parent() }}
     <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
           integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
           crossorigin=""/>
     <style></style>
 {% endblock %}

    {% block javascripts %}
        {{ parent() }}
        <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
                integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
                crossorigin=""></script>

    {% endblock %}
{% block body %}
    <div
            data-controller="form"
            data-form-url-value="{{ path('app_bannergress_queryproximity') }}"
            data-form-url-data-value="{{ path('app_bannergress_queryproximity_data') }}"
            data-form-url-mission-value="{{ path('app_bannergress_query_mission_data') }}"
    >
        <div class="row">
            <div class="col">
                <div id="map" data-form-target="map"></div>
                Loc: <span data-form-target="lat" value="{{ proxyLat }}">{{ proxyLat }}</span>,
                <span data-form-target="lon" value="{{ proxyLon }}">{{ proxyLon }}</span>
                <br>
                Zoom:
                <span data-form-target="zoom" type="text" value="{{ zoom }}"></span>
                <br>
                <button data-action="click->form#query" class="btn btn-info">Search</button>
                <div data-form-target="dataStatus">data-status</div>
            </div>
            <div class="col">
                <div data-form-target="resultStatus"></div>
                <div data-form-target="result"></div>
            </div>
            <div class="col">
                <div data-form-target="resultMissionStatus" class="" role="status">
                </div>
                <div data-form-target="resultMission"></div>
            </div>
        </div>
    </div>
{% endblock %}
